
body {
  /* background: linear-gradient(135deg, #45275b 50%, #2b0d31 100%); */
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #1F1C18, #8E0E00, #1F1C18 ); 
}


.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.form-control:focus, .form-select:focus {
  border-color: #667eea;
  box-shadow: 0 0 0 0.2rem rgba(102, 126, 234, 0.25);
}


.text-white-50 {
  color: rgba(255, 255, 255, 0.75) !important;
}

.rounded-top-4 {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}
.card-header-bg {
  background-color: #272341 !important;
} 

.h-title {
  font-family: 'Montserrat', sans-serif;
  color:  #1465e8;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.02em;
}
