.btn-primary{
    background-color: #6c5ce7;
    border-color: #6c5ce7;
}
div h4 {
    font-family: 'Montserrat', sans-serif;
    color:  #1465e8;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -0.02em;
}