<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 85vh;">
  <div class="forgot-password-container card p-3 shadow-sm" style="width: 380px;">
    <h4 class="mb-4 text-center h-title">Forgot Password</h4>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <input 
          formControlName="email" 
          type="email" 
          class="form-control"
          placeholder="Enter Your Email"
          [class.is-invalid]="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched"
        />

        <div *ngIf="forgotForm.get('email')?.touched && forgotForm.get('email')?.invalid" class="invalid-feedback small">
          <span *ngIf="forgotForm.get('email')?.hasError('required')">Email is required</span>
          <span *ngIf="forgotForm.get('email')?.hasError('email')">Invalid email format</span>
        </div>
      </div>

      <button class="btn btn-primary w-100" type="submit" [disabled]="forgotForm.invalid">
        <ng-container *ngIf="!loading">Send Reset Link</ng-container>
        <ng-container *ngIf="loading">
          <span class="spinner-border spinner-border-sm me-1"></span> Sending...
        </ng-container>
      </button>
    </form>

    <div class="text-center mt-3 small" style="width: 100%;">
      <button routerLink="/login" class="btn w-100 btn-outline-info" style="cursor: pointer;">Back to Login</button>
    </div>
  </div>
</div>
