.btn-primary{
    background-color: #6c5ce7;
    border-color: #6c5ce7;
}
.forgot-password-container {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.49);   
    
}
div h4 {
    font-family: 'Montserrat', sans-serif;
    color:  #1465e8;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -0.02em;
}