.animate-slide-up {
  animation: slideUp 0.3s ease-out;
}

.modal-content {
  animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}