.navbar{
    padding: 0.5rem 1rem;
    background-color: transparent;
    box-shadow: 0 4px 12px white; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
  
}
.navbar-brand img{
    border-radius: 6px;
}

.brand-title {
  font-family: 'Montserrat', sans-serif;
  color:  #1465e8;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.02em;
}